@keyframes changeshape{
    from{
       border-radius: 0%;
    }
    to{
       border-radius: 50%;
    }
 }
 

div{
    height: 200px;
    width:200px;
    position: absolute;
    top: 40%;
    left: 40%;
    background-color:aquamarine;
    transition:  changeshape 1s ease-in-out infinite;
}
/*
div:hover{
    transform: scale(1.5) translate(150px);
    
}*/